*{
    margin: 0;
    padding: 0;
    
}

h1, h3{
    margin: 0;
}

body{
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 10px;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

/* mobile */
@media (max-width:768px) {
  body{
    flex-direction: column;
  }
}

.info{

  border: 1px solid #ccc;
  padding: 12px;
  background-color: #fafafa;
  /* max-width: 350px; */
  width: 100%;
}

.info p{
  font-size: 14px;
  line-height: 1.7;
  color: #333;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;

  text-align: justify;             
  text-justify: inter-word;          
  word-break: normal;
  overflow-wrap: break-word;
}

.info span{
    color: red;
    font-weight: bold;
}
.videoContainer{
    
    width: 100%;
    
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 650px;
    border: 1px solid;
     

     
}
.videoBox{
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 15px;
    margin-bottom: 20px;
    
    height: 550px;
    width: 320px;
    /* border: 1px solid; */

     
     
}

#inputFile{
    display: none;
}

  .reel{
    height: 550px;
    width: 300px;  
    object-fit: cover; 
}
 
 
 
 .profilebar{
    bottom: 30px;
 }
      
 

.videoDiv{
     
    position: relative;
    width: 300px;
    height: 550px;
    margin: 0 !important;
    
    padding: 0 !important;
}

.profilebar{
    position: absolute;
    bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
 
.profilebar img{
    margin-left: 5px;
    margin-top: 5px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 3px;
    cursor: pointer;

    /* border: 1px solid; */
}

.profilebar span{
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    

}

.videoDiv .sideBar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 25px;
    margin-right: 10px;
     
    height: 55%;

}

.sideBar img{
    height: 30px;
    cursor: pointer;

}

.sideBar span{
    font-size: 30px;
    transform: rotate(90deg);
    cursor: pointer;
    margin: 0;
     
}

  .videoDiv .deletePage{
    background-color: #fff;
    position: absolute;
    right: 0;
    /* bottom: 30px; */
    bottom: 0;
    /* height: 200px; */
    width: 250px;
    border: 1px solid;
    box-shadow: 0px 0px 5px #42333398;
    border-radius: 5px;
    display: none;
     

}

/* @media (min-width:768px) {
    .videoDiv .deletePage{
        /* right: -250px; */
    }
    
} */



 

 .videoDiv .deletePage .ul { 
    list-style: none;
    display: flex;
    flex-direction: column;
     
    /* margin-top: 7.5px; */
    margin-bottom: 7.5px;
 
}
.li{
     
    padding: 11.4px;
    &:hover{
        background-color: rgba(0, 0, 0, 0.11);
    }
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    cursor: pointer;
    list-style: none;

}

 #report, #delete {
    color: red;
 }



 @media (min-width:768px) {
    .videoDiv  .li{
        padding: 16px;
    }     
    
}

 

.btnDiv{
    
    width: 300px;
    text-align: center;
    border: 2px solid;
    
    background-color: white;
    z-index: 1;
    width: 319px;
    margin: 0;
    padding: 2px;
    position: absolute;
    bottom: 0;
     
     
}
.btnDiv img{
    height: 30px;
    cursor: pointer;
}

.uploadBox{
    width: 140px;
    box-shadow: 0px 0px 4px;
    border-radius: 10px;
    position: absolute;
    bottom: 65px;
    z-index: 10;
    background-color: #fff;  
    display: none;  
 }
 
 
.uploadBox ul{
     display: flex;
     justify-content: space-between;
     align-items: center;
      
     padding: 3px 5px;
     
}
.uploadBox ul li{
    list-style: none;
}
.uploadBox ul li img{
    height: 20px;
    &:hover{
        cursor: pointer;
    }
}



 .uploadBox ul:nth-child(2),
.uploadBox ul:nth-child(3) {
    border-top: 1px solid #ccc;
}


.comment{
    border: 2px solid;
    height: auto;
    width: 100%;
 }

 .playIconBox{
     position: absolute;
     left: 50%;
     top: 50%;
    transform: translate(-50%, -50%) scale(0.5);
     background-color: rgba(0, 0, 0, 0.35);
     height: 120px;
     width: 120px;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     opacity: 0;
     transition: all 0.25s ease;
     pointer-events: none;


 }
.playIconBox.show{
    opacity: 1;
    transform: translate(-50%, -50% scale(1));
}
 .playIcon{
     height: 60px;
    width: 60px;

 }

  .muteBox{
    position: absolute;
    right: 5px;
    top: 5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    /* background-color: rgba(0, 0, 0, 0.325); */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mute, .unmute{
    height:25px;
    width: 25px;
    object-fit: contain;
     margin: 0;
    padding: 0;
  }
/* 
  .mute{
    &:hover{

    }
  } */


  .ri-heart-3-fill{
    font-size: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: all ease 0.4s;
    color: red;

  }